/* Author

Name: Shakib Ahmed;
Email : shakib01@gmail.com;

*/


/*

=====Index=====

1. Header
2. Hero Part
3. Our News
4. New Lettwr
5. Blandit rhoncus
6. Placerat
7. Footer

*/


/*Global CSS*/
h1 {
	color: #161616;
	font-weight: 700;
	padding-top: 25px;
}

h2 {
	color: #fff;
	text-align: center;
	font-size: 30px;
	font-weight: 400;
	padding-bottom: 25px;
}

h6 {
	text-align: center;
	font-size: 15px;
	font-weight: 100;
	padding-top: 25px;
}

p {
	color: #fff;
	text-align: center;
}

section {
    padding: 50px 0;
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700&display=swap');

.btn {
    color: #6c3226;
    background-color: #ffffff;
    display: block;
    margin: 48px auto 84px;
    padding: 15px 50px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 600;
}

.btn:hover {
	background-color: maroon;
	color: #fff;
	transition: 0.4s ease;
}

body{
	font-family: 'Roboto', sans-serif;
}


/* ===Theme CSS=== */


/* Header Starts */
nav i {
	color: #161616;
}

.nav-head {
	background-color: #edeff1!important;
	padding: 18px 0px;
}

.nav-item {
	margin: 0px 5px;
}

.nav-link {
	color: #161616!important;

}

.nav-link.js-scroll-trigger.active {
	background-color: #dd4b2b;
	color: #fff!important;
	border-radius: 25px;
	padding: 8px 25px;
}
/* Header E nds */


/*Hero S*/
.hero {
	background: url(../img/heroimg.png)no-repeat top;
	background-size: cover;
}

.hero h1 {
    font-weight: 400;
    font-size: 40px;
    color: #fff;
    padding-top: 310px;
    text-align: center;
}

.hero h3 {
    color: #fff;
    font-size: 21px;
    font-weight: 392;
    text-align: center;
}

.food-img {
    padding: 64px 0px 25px;
}
/*Hero E*/


/*Our news S*/
.ournews {
	background-color: #edeff1;
}

.ournews h1 {
    text-align: center;
    padding: 48px 0px;
    font-weight: 600;
}

.ournews h2 {
    color: #161616;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    padding-top: 34px;
    
}
/*Our news E*/


/*NewsLetter S*/
.newsletter {
	background: url(../img/bgr.png)no-repeat;
	background-size: cover;
}

.form-control {
    background: transparent;
    padding: 25px;
    position: relative;
    border-radius: 50px;
}

.btn-two {
    position: absolute;
    color: #6c3226;
    background-color: #ffffff;
    display: block;
    margin: 75px auto 135px;
    padding: 12px 115px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 600;
    border: navajowhite;
    top: 58px;
    right: 16px;
}

.btn-two:hover {
	background-color: maroon;
	color: #fff;
	transition: 0.4s ease;
}

input::placeholder {
  color: #fff!important;
}
/*NewsLetter E*/


/*Blandit S*/
.blandit {
	background-color: #fff;
}

.blandit h6 {
	text-align: left;
}

.btn-three {
	color: #fff;
	background-color: #dd4b2b;
	padding: 10px 80px;
	border-radius: 50px;
	font-size: 18px;
	font-weight: 600;
	border: none;
	margin-top: 50px;
}

.btn-three:hover {
	background-color: #4b4e73;
	color: #fff;
	transition: 0.4s ease;
}

.btn-four {
	color: #fff;
	background-color: #4b4e73;
	padding: 10px 80px;
	border-radius: 50px;
	font-size: 18px;
	font-weight: 600;
	border: none;
	margin-top: 50px;
}

.btn-four:hover {
	background-color: #dd4b2b;
	color: #fff;
	transition: 0.4s ease;
}

.top {
	padding-bottom: 50px;
}

.bottom {
	padding-bottom: 80px;
}
/*Blandit E*/


/*Placerat S*/
.placerat {
	background-color: #d75d0e;
}

ul {
	list-style: none;
}

li {
    display: block;
    text-align: center;
    color: #fff;
}
/*E*/


/*Footer section starts*/
footer {
	background: url(../img/bgr.png)no-repeat top;
	background-size: cover;
}

footer p {
    padding: 80px 0px 200px;
    width: 60%;
    margin: 0 auto;
    display: block;
    color: #fff;
    text-align: center;
}




/*Media Query starts*/
@media (max-width: 500px;) {
	nav img {
		display: block;
		margin: 0 auto;
	}

	.nav-item {
	margin: 10px 0px;
	}

}